body{
  display: flex;
  justify-content: center;
  vertical-align: middle;
  overflow: hidden;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.pic-container{
  display: flex;
  justify-content: center;
}
img{
  width:300px;
  height: 300px;
  object-position: top;
  object-fit: cover;
}
.about-me{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-me> h1{
  margin-top: 50px;
  margin-bottom: 0;
  font-family: 'Monofett', monospace;
  font-size: 50px;
  color: rgb(243, 129, 129);
}
.about-me> p{
  width: 350px;
  font-size: 18px;
  text-align: center;
}