html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Gruppo', sans-serif;
  font-weight: 900;
  background-image: url(/assets/images/background-home-full.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
body{
  display: flex;
  justify-content: center;
  vertical-align: middle;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.name{
  margin: 0;
  font-family: 'Monofett', monospace;
  font-size: 50px;
  color:rgb(43, 155, 148);
}
.subtitle{
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 18px;
}
.profile-pic{
  width: 250px;
  border-radius: 50%;
}
.links-container{
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.links{
  margin: 20px;
  border-radius: 15px;
  height: 30px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a, a:visited{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#about{
  background-color: rgb(243, 129, 129);
  border: 1px solid rgb(245, 35, 35);
}
#projects{
  background-color: rgb(252, 227, 138);
  border: 1px solid rgb(230, 182, 10);
}
#contact{
  background-color: rgb(149, 225, 211);
  border: 1px solid rgb(66, 171, 152);
} 
#connect{
  background-color: rgb(217, 242, 186);
  border: 1px solid rgb(151, 206, 83);
}
#about:hover, #projects:hover, #connect:hover, #contact:hover{
  cursor: pointer;
}
#about:hover{
  box-shadow: 1px 1px 15px red;
}
#projects:hover{
  box-shadow: 1px 1px 15px rgb(250, 217, 3);
}
/* #resume:hover{
  box-shadow: 1px 1px 15px rgb(126, 210, 58);
}
#contact:hover{
  box-shadow: 1px 1px 15px rgb(0, 225, 255);
} */
#connect:hover{
  box-shadow: 1px 1px 15px rgb(126, 210, 58);
}
#about:active, #projects:active, #connect:active, #resume:active, #contact:active{
  box-shadow: none;
}
@media (max-width: 875px) {
  body{
    background-image: url(/assets/images/background-home.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
  }
}
@media (max-width: 570px){
  .name{
    font-size: 30px;
    color:rgb(43, 155, 148);
  }
  .profile-pic{
    width: 200px;
  }
  .links-container{
    justify-content: center;
    width: 400px;
    flex-wrap: wrap;
    margin: 10px;
  }
  .links{
    margin-bottom: 5px;
  }
}
