body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(/assets/images/background-projects-full.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects-header{
  font-family: 'Monofett', monospace;
  font-size: 50px;
  color:rgb(229, 192, 60);
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-top: 60px;
}
.projects-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
}
.projects{
  border-bottom: 2px solid rgb(252, 227, 138);
  padding-bottom: 5px;
}
.project{
  border: 2px solid rgb(229, 192, 60);
  width: 360px;
  min-height: 600px;
  margin-bottom: 50px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.bamm, .level-up, .blackjack, .showcase, .portfolio{
  width: 100%;
  height: 60%;
}
.description{
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bamm{
  background-image: url(/assets/images/bamm.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.level-up{
  background-image: url(/assets/images/levelup-site.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.blackjack{
  background-image: url(/assets/images/blackjack.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.showcase{
  background-image: url(/assets/images/showcase.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.portfolio{
  background-image: url(/assets/images/portfolio.png);
  /* width: 100%; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 300px; */
}
.built{
  opacity: 0;
  transition: opacity .4s;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(229, 192, 60, 0.3);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.bamm:hover, .level-up:hover, .blackjack:hover, .showcase:hover, .portfolio:hover{
  cursor: pointer;
}
.bamm:hover .built, .level-up:hover .built, .blackjack:hover .built, .showcase:hover .built, .portfolio:hover .built{
  opacity:1;
}
.built-languages{
  width: 70px;
  margin: 10px;
  transition: 0.4s;
}
.built-languages-name{
  margin: 0 5px;
  transition: 0.4s;
}
.levelup-logo{
  height: 150px;
  width: 100%;
  object-fit: contain;
}
.project-name{
  margin-top: 8px;
  margin-bottom: 10px;
}
.project-description{
  padding: 0 15px;
  margin-top: 0;
  margin-bottom: 30px;
}
.github-link, .deployed-link{
  border: 2px solid rgb(229, 192, 60);
  border-radius: 7px;
  padding: 10px;
  margin: 0 5px;
}
.github-link:hover, .deployed-link:hover{
  background-color: rgb(233, 208, 120);
  border: 2px solid rgb(117, 117, 117);
}
.links{
  margin-bottom: 30px;
}
@media (max-width: 700px) {
  body{
    background-image: url(/assets/images/background-projects-half.png);
  }
}